<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom     align-items-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <h1 class="ms-5"> <img src="/pokeballRi7.png" alt="pokeball">   Pokémon  </h1>
        </a>

        <ul class="nav nav-pills me-5">
            <li class="nav-item"><a href="/addUser" class="nav-link" aria-current="page">Inscription</a></li>
            {# <li class="nav-item"><a href="/deconexion" class="nav-link" aria-current="page">deconexion</a></li> #}
            <li class="nav-item"><a href="/connexion" class="nav-link" aria-current="page">Connexion</a></li>
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Liste de Dresseurs</a></li>
        </ul>
    </header>