<header class=" d-flex justify-content-around flex-column align-items-center border-bottom">
	<a href="/" class="d-flex align-items-center justify-content-center col-5  text-dark text-decoration-none">
		<div class="d-flex justify-content-around align-items-center">
			<img src="/pokeballRi7.png" alt="pokeball">
			<h1 class=" text-center">
				Pokémon
			</h1>
		</div>
	</a>
	<ul class="nav nav-pills">
	
		{% if user.name %}
			<li class="nav-item">
				<a href="/deconexion" class=" p-1 p-md-2 btn btn-danger " aria-current="page">Déconnexion</a>
			</li>
		{% else %}
			<li class="nav-item">
				<a href="/addUser" class="nav-link p-1 p-md-2" aria-current="page">Inscription</a>
			</li>
		{% endif %}

		{% if user.name %}
			<li class="nav-item">
				<a href="/connexionUser/{{user.id}}" class="nav-link p-1 p-md-2" aria-current="page">compte</a>
			</li>
		{% else %}
			<a href="/connexion" class="nav-link p-1 p-md-2" aria-current="page">Connexion</a>
		{% endif %}

		<li class="nav-item">
			<a href="/" class="nav-link p-1 p-md-2" aria-current="page">Liste de Dresseurs</a>
		</li>
	</ul>
</header>
